@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
main{
   backdrop-filter: blur(10px);
   height: 60px;
   position: fixed;
   width: 100%;
}
.logo{
  width: 25%;
  float: left;
 
}

/* navbar  ends*/
p{
  color: #1abc9c;
}
a{
  text-decoration: none;
  color: #1abc9c;
  
}
.sectionsonopendays{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 15px;
}

.input{
  width: 20%;
}

.section.two{
  text-align: center;
 
}
#Gender{
  height: 30px;

}
#endtermboarder{
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.profile{
width:120px;
  height: 90px;
  margin-left: 20px;
}

.nametags,.btn1{
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  

}
  h4{
 text-align: center;
  }

#top{
  background-color: #1abc9c;
  height: 10px;
}


.contact-form {
  background-color: #fff;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #d6dbda);
  position: absolute;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
 
}

.circle.one {
  width: 140px;
  height: 130px;
  top: 180px;
  right: 10px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 10px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;

}

form {
  border-radius: 10px;
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
  width: 100%;
 
  
}

.Nemis{
  border-radius: 40px;
display: grid;
justify-content: center;
align-items: center;
width: 100%;
margin:10px;


}

.Nemisform{
  border-radius: 10px;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
 
}
.formselection{
  border: 4px solid #fafafa;
  height: 20%;
  max-width: 300px;
   width: 100%;
    border-radius: 6px;
    height: 30px;
    color: turquoise;
    font-weight: bold;
}

.title {
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  border: 4px solid #fafafa;
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
}

.input-container {
  position: relative;
  margin: 1rem 0;
  font-weight: bold;
  
  
}
.right.section {
  position: relative;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);

 
  
}

.input {
  width: 100%;
  outline: none;
  border: 8px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #b0adad;
  font-weight: bold;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  font-weight: bold;
  
  

}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
 
}

.input-container label {
  position: absolute;
  top: 50%;
  font-weight: bold;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}


.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
  font-weight: bold;
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}
.btn1{
  width: 100px;
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 15px;
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  line-height: 1;
  width: 135px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 3px;
}

.btn:hover {
  background-color: transparent;
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
  border-radius: 16px;
  
 
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background: linear-gradient(45deg,#0de5da,#5b0e43,#c2b41b,#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
  
  
}

.text {
  font-weight: 400px;
  font-size: 1.3rem;
  margin: 1.5rem 0 2rem 0;
  background: linear-gradient(45deg,#3059b3,#ff77cd,#6a5863,#ff77cd,#200617);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}








@media (max-width: 850px) {
  .Nemis{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:10px;
    margin-top: 0px;
    
    
    }

  .Nemisform{

    align-items: center;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
   
  }




.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
.navbar{
 display: block;
 height: 100%;
  position: fixed;
  padding-left: 30px;
  left: -800%;
  top: 0;
  margin-left: 0px;
  gap: 20px;
  width: 99%;
  border: 2px solid lemonchiffon;
 backdrop-filter: blur(10px);
  text-align: center;
  transition: 0.1s ease;

}



.nav-menu{
  padding-left: 100px;
  margin-top: 50px;
  gap: 10px;
  backdrop-filter: blur(10px);


}
.navbar.active{
  left: 0;
}
   /* navbar  ends*/
  .form,.form-one,.sections{
    grid-template-columns: 1fr;
  }
  .cbctitle{
    width: 80%;
    top: 1650px;
    left: 40px;
    text-align: center;
  }
  .title{
    text-align: center;
  }
  .subsection.one{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }.img-right{
    width: 100%;
  }
  #class{
    border: solid #fafafa;
    border-style: dashed;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 25px;
  }
 
  

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
   
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
  #learnersnametag{
    border: none;
  }
  #barger2right{
    display: block;
    position: absolute;
    position: fixed;
    left: 35px;
    top: 16px;
    width: 35px;
    margin-right: 13px;
    z-index: 1000;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
   /* navbar */
   
   .Nemis{
    justify-content: center;
    align-items: center;
    width: 93%;
    margin:10px;
    
    
    }
    h1{
      font-size: 20px;
    }
  
    #endtermboarder{
      margin: 5px;
      font-size: 12px;
      font-weight: bold;
      padding: 5px;
    }
  
  .Nemisform{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    border: 4px solid #fafafa;
    width: 100%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);

  }

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}
.navbar{
 display: block;
 height: 100%;
  position: fixed;
  left: -800%;
  top: 0;
  margin-left: 0px;
  gap: 20px;
  width: 99%;
  border: 2px solid lemonchiffon;

  text-align: center;
  transition: 0.1s ease;
  

}
.navbar.active{
  left: 0;
}

#barger2right{
  display: block;
  position: absolute;
  position: fixed;
  left: 25px;
  top: 16px;
  width: 35px;
  margin-right: 13px;
  z-index: 1000;
  margin-bottom: 30px;
}
  #shortenemail{
    font-size: 15px;

  }
   /* navbar  ends*/
  .container {
    padding: 1rem;
  }
  .subsection.one,.right.section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  .success-button-container {
     grid-template-columns: repeat(2,1fr);
     width: 100%;

  
  }
  .cbctitle{
    position: absolute;
    font-size: 20px;
    width: 80%;
    top: 2000px;
    left: 40px;
    text-align: center;
  }
  #learnersnametag{
    border: none;
  }
 
  #mrks{
    font-size: 11px;
  }
  #class{
    margin-left: 7px;
    margin-right: 2px;
  }
  .profile{
    width:90%;
      height: 90px;
      margin-left: 12px;
      
    }
  .img-right{
    width: 100%;
    max-width: 100%;
  }
  .success{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .btn1{
    font-size: 10px;
    color: #1abc9c;
    width: 105px;
  }
  .nametags{
    font-size: 10px;
  }
    

  #top2{
    position: absolute;
    background-color: #1abc9c;
    height: 60px;
    left: 260px;
    top: 0px;}
   
  /* Styling for the popup content */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;

}
.container2{
  margin-left: -1px;
  top: 23px;
  width: 100%;
  max-width: 1100px;
  
}

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
   
  }

  .text,
  .information,
  .social-media p {
    font-size: 1.2rem;
  }

  .title,h2 {
    font-size: 1.15rem;
    text-align: center;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
